<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTgavSLSw7ASg3t78Tg9-BOVXhp5Sx9r4</string>
	<key>GCM_SENDER_ID</key>
	<string>119351435657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wuct</string>
	<key>PROJECT_ID</key>
	<string>wuct-f27b5</string>
	<key>STORAGE_BUCKET</key>
	<string>wuct-f27b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119351435657:ios:d4d576c22277d1d94c0158</string>
</dict>
</plist>